@import '~@/styles/config'
*, *:before, *:after 
  box-sizing: inherit
html
  box-sizing: border-box
.cta
  font-size: 24px;
  font-weight: bold;

.hidden
  visibility: hidden

.section-title
  position: relative
  margin: 0;
  font-size: 24px;
  color: $color--primary
a
  text-decoration: none
  color: inherit
body
  margin: 0
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #545454;

body::-webkit-scrollbar
  width: .5em;
 
body::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 
body::-webkit-scrollbar-thumb
  background-color: currentColor;
  outline: 1px solid slategrey;

.cursive
  font-family: 'Sacramento', cursive

section, .section
  position: relative

  
  .inner-section
    position: relative
    margin: 0 auto
    height: 100%

.full-height
  height: 100vh
.narrow
  $width: 940px
  &.width
    max-width: $width
  .inner-section
    max-width: $width
  &.fixed-height
      height: $width/2
.wide
  $width: 1200px
  &.width
    max-width: $width
  .inner-section
    max-width: $width
  &.fixed-height
      height: $width/2
.ultra-wide
  $width: 1600px
  &.width
    max-width: $width
  .inner-section
    max-width: $width
  &.fixed-height
      height: $width/2

.cover
  position: absolute !important
  width: 100% !important
  height: 100% !important
  object-fit: cover
  top: 0
  bottom: 0
  left: 0
  right: 0

.v-lazy-image
  filter: blur(20px)
  will-change: filter
  transition: filter 500ms

  &.v-lazy-image-loaded
    filter: blur(0)

  
svg .site-line, svg.site-line path
  visibility: hidden
  stroke-width: 12px
  stroke: $color--secondary


.border
  position: absolute
  background-color: $color--primary
  transition-property: height, width
  transition-duration: 1s

  &.top, &.bottom
    width: 0%
    height: 5px;
    
    &.shown
      width: 100%
  &.left, &.right
    height: 0%
    width: 5px
    &.shown
      height: 100%

  &.top, &.right
    top: 0
  &.top, &.left
    left: 0

  &.bottom, &.left
    bottom: 0
  &.bottom, &.right
    right: 0

=bgColor-flat-gradient($color)
  background-color: rgba($color, .1)
  &.gradient
    background: radial-gradient(circle, rgba($color,.1) 0%, rgba($color,.2) 80%, rgba($color,.2) 100%)

section:nth-child(odd)
  +bgColor-flat-gradient($color--primary)
  

section:nth-child(even)
  +bgColor-flat-gradient($color--secondary)